<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport",content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatable" content="ie-edge">
        <title>Verification Email</title>

        <style>
            h1{
                color:seagreen;
            }
            btn-primary{
                color: royalblue;
            }
        </style>

    </head>

    <body>
        <h1>Hello World</h1>
        <a href="{{url}}">http://localhost:3000/user/varification/</a>
        <button class="btn-primary">Verify</button>
    </body>
</html>